/*公用*/
.comWidth {
	width: 1000px;
	margin: 0 auto;
}
.hide {
	display: none;
}
.show {
	display: block;
}

/*topbar*/
.topBar {
	background-color: #f7f7f7;
	height: 31px;
	line-height: 31px;
}
.collection {
	background:url(icon/star.jpg) left center no-repeat;
	padding-left: 19px;
}
.topBar a:hover {
	color: red;
}
/*searchbar*/
.searchBar {
	height: 86px;
	background-color:#1d7ad9;
}
.topLogo {
	float: left;
}
.shopCar {
	float: right;
}
.logo {
	padding-left: 41px;
	padding-top: 13px;
}
.searchBox {
	width: 430px;
	padding-top: 23px;
	margin-left: 185px;
}
.searchText {
	width: 350px;
	height: 35px;
	padding: 0 5px;
	font-size: 16px;
}
.searchBtn {
	width: 70px;
	height: 35px;
	font-size: 14px;
	background-color: #ff8c00;
	color: #fff;
}
.shopCar {
	width: 145px;
	height: 35px;
	background-color: #ff8c00;
	margin-top: 23px;
	font-size: 14px;
	color: #fff;
	line-height: 35px;
	margin-right: 50px;
}
.shopText {
	background:url(icon/shopcar.jpg) 10px center no-repeat;
	border-right: 1px solid #e27a00;
	height: 100%;
	width: 87px;
	text-indent: 40px;
}
.shopNum {
    background:url(icon/arrow.jpg) 33px center no-repeat;
    width: 56px;
    height: 35px;
    text-indent: 17px;
    border-left: 1px solid #ff9c01;
}
/*导航*/
.navBox {
	background-color: #1369c0;
	height: 35px;
	color: #fff;
}
.shopClass {
	width: 189px;
	position: relative; 
}
.shopClass h3 {
	line-height: 35px;
	text-align: center;
	font-family: "Microsoft YaHei", "微软雅黑";
}
.shopClass i {
	background: url(icon/arrow1.jpg) left center no-repeat;
	overflow: hidden;
	width: 13px;
	height: 7px;
	display: inline-block; /*内嵌元素不能设置宽高，转换为行内块级元素*/
	margin-left: 9px;
}
.nav {
	line-height: 35px;
}
.nav li {
	float: left;
}
.nav li a {
	height: 35px;
	display: inline-block;
	color: #fff;
	padding: 0 24px;
}
.nav .active {
	background-color: #4593fd;
}
/*商品弹出列表*/
.shopClass_show {
	background-color: #4593fd;
	position: absolute;
	top: 35px;
	left: 0px;
	width: 100%;
}
.shopClass_item {
	padding: 13px 10px;
	border-bottom: 1px solid #3487f2;
	border-top: 1px solid #5aa1fe;
	font-family: "Microsoft YaHei", "微软雅黑";
}
.shopClass_item .b {
	/*font-family: "Microsoft YaHei", "微软雅黑"; font-size: 14px;
	font-weight: bold;*/
	font: 14px/1 "Microsoft YaHei", "微软雅黑";
}
.shopClass_item dt {
	height: 21.2px;
	background: url(icon/sj2.png) right center no-repeat;
}
.shopClass_item a {
	color: #fff;
}
.shopClass_item  a:hover {
	text-decoration: underline;
} 
.aLink {
	width: 46px;
	height: 20px;
	border-radius: 10px;
	background-color: #106ac0;
	display: inline-block;
	text-decoration: underline;
	text-align: center;
	line-height: 20px;
}
/*浮动窗口*/
.shopClass_list {
	width: 568px;
	border: 1px solid #dddddd;
	position: absolute;
	left: 189px;
	top: 35px;
}
.shopClass_list dd {
	width: 460px;
	border-bottom: 1px solid #dddddd;
	margin:18px auto;
	padding-left: 78px;
	margin-top: -35px;
	padding-bottom: 15px;
}
.shopClass_list dt {
	color: #4b88da;
	font-weight: bold;
	margin:18px 20px;
}
.shopClass_list dd a {
	margin-right: 8px;
}
.shopClass_links {
	height: 26px;
	line-height: 26px;
	margin: 18px 20px;
}
.shopClass_links a {
	background-color: #2785e6;
	color: #fff;
	padding: 0px 8px;
	display: inline-block;
	margin-right: 10px;
}
.shopClass_links a span {
	width: 6px;
	height: 10px;
	background: url(icon/sj2.png) right center no-repeat;
	display: inline-block;
	padding-left: 10px;
}
/*shopClass_list active 状态*/
.s_active {
	background-color: #fff;
	border-left: 1px solid #4593fd;
}
.s_active a {
	color: #000;
}
.s_active dt {
	background:none;
}
.s_active .aLink {
	color: #fff;
	text-decoration: none;
}
/*banner部分*/
.banner_img {
    width: 811px;
    height: 326px;
    float: right;
    position: relative;
    overflow: hidden;
}
.img_box {
	width: 1622px;
	height: 326px;
	position: absolute;
	top: 0;
	left: 0;
}
.img_box li {
	float: left;
}
.img_box img {
	width: 811px;
	height: 326px;
	display: block;
}
.img_num {
	position: absolute;
	left: 0;
	bottom: 15px;
	width: 100%;
	text-align: center;
}
.img_num a {
	width: 20px;
	height: 5px;
	background-color: #fff;
	display: inline-block;
	margin: 0 3px;
	overflow: hidden;
}
.img_num .active {
	background-color: #ff7700;
}
/*商品标题*/
.shoptitle {
	margin-top: 15px;
	height: 44px;
	line-height: 44px;
	margin-bottom: 15px;
}
.icon {
	width: 44px;
	height: 44px;
	background: url(icon/shoptitle.jpg) left no-repeat;
	float: left;
}
.shoptitle h3 {
	font-size: 24px;
	font-weight: normal;
	float: left;
	padding-left: 15px;
}
.more {
	float: right;
}
.shoptitle a:hover {
	text-decoration: underline;
}
/*商品列表*/
.shopview {
	height: 400px;
}
.view_right {
	width: 810px;
	height: 397px;
	border-bottom: 3px solid #ff7201;
}
.view_item {
	width: 201px;
	height: 235px;
	text-align: center;
	border: 1px solid #999;
	padding-top: 45px;
	float: left;
	border-left: none;
}
.view_img img {
	width: 132px;
	height: 154px;
}
.view_item h3 {
	font-size: 16px;
	padding-top: 20px;
}
.view_item p {
	font-size: 14px;
	color: #ff8622;
}
.btm_item {
	width: 201px;
	border-right: 1px solid #999;
	height: 117px;
	text-align: center;
	float: left;
}
.btm_img {
	width: 100px;
	height: 117px;
	float: left;
}
.btm_text {
	width: 92px;
	padding-top: 28px;
	line-height: 21px;
	text-align: left;
	display: inline-block;
}
.btm_text .c1 {
	color: #ff7201;
}
.v1 img {
	padding-top: 28px;
}
.v2 img {
	padding-top: 20px;
}
.v3 img {
	padding-top: 20px;
}
.v4 img {
	padding-top: 38px;
}
.v5 img {
	padding-top: 20px;
}
/*页面底部*/
.footBar {
	width: 100%;
	background-color: #d4d4d4;
	height: 216px;
	margin-top: 40px;
	text-align: center;
	font-size: 12px;
}
.foot_top {
	padding-top: 56px;
	margin-bottom: 10px;
}
.foot_top a {
	width: 56px;
	display: inline-block;
	color: #000;
	background: url(icon/footbg.jpg) right center no-repeat;
}
.foot_top a:hover {
    color:red;
}
.foot_middle {
	margin-bottom: 30px;
}
.foot_middle p {
	display: inline-block;
	margin-left: 20px;
}
.foot_bottom a {
	margin-left: 10px;
}












